
header{

	background-color: #2196F3;

	display: block;

	width: 100%;

	max-height: 33vh;

	top : 0;
	
}

header > *:first-child{

	padding: 1px;

	margin-left: 7%;

}

header > h1{

	color: #FFFFFF;

	font-weight: 300;

}


header.large{

	position: absolute;

	height: 33vh;

}

header.large > h1{

	font-size: 4em;

	margin-top: 16vh;

}

header.small{

	position: fixed;

	height: 10vh;

	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);

}

header.small > h1{

	font-size: 2em;

}

header.ontransition > h1{

	position: fixed;

	font-size: 2em;

	top: 0px;

	margin-top: 0;

}